.header{
  width: 100%;
  padding: 0 30px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue-color);
  position: relative;
  z-index: 999;
  border-bottom: 2px solid var(--white-color);
}
.header .header-left{
  display: flex;
  align-items: center;
}
.header .header-left .header-logo{
  font-size: 25px;
  color: var(--white-color);
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: capitalize;
}
.header .header-left .header-menu{
  font-size: 30px;
  color: var(--white-color);
  cursor: pointer;
  display: none;
}
.header .navbar .nav-links{
  display: flex;
  align-items: center;
}
.header .navbar .nav-links .nav-link{
  margin: 0 12px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: var(--white-color);
}
.header .navbar .nav-links .nav-link:hover{
  color: var(--main-color);
}
.header .navbar .nav-links .nav-link i{
  margin-right: 3px;
}

.header .header-right{
  display: flex;
  align-items: center;
}
.header .header-right .header-right-user-info{
  display: flex;
  align-items: center;
  position: relative;
}
.header .header-right .header-right-user-info .header-right-username{
  font-size: 18px;
  font-weight: 500;
  color: var(--main-color);
  margin-right: 10px;
  text-transform: capitalize;
  cursor: pointer;
}
.header .header-right .header-right-user-info .header-right-user-photo{
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}
.header .header-right .header-right-dropdown{
  position: absolute;
  right: 50%;
  top: 100%;
  background-color: var(--main-color);
  border: 1px solid var(--white-color);
  border-radius: 5px;
  padding: 5px;
  width: 150px;
  text-transform: capitalize;
  text-align: left;
}
.header .header-right .header-right-dropdown .header-dropdown-item{
  color: var(--primary-color);
  font-weight: 500;
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;
}
.header .header-right .header-right-dropdown .header-dropdown-item i{
  margin-right: 5px;
}
.header .header-right .header-right-link{
  margin-left: 10px;
  font-size: 18px;
  font-weight: 500;
  background-color: var(--white-color);
  color: var(--blue-color);
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
.header .header-right .header-right-link:hover{
  background-color: var(--main-color);
}
.header .header-right .header-right-link span{
  margin-left: 5px;
}
@media (max-width: 990px) {
  .header-left{
    flex-direction: row-reverse;
  }
  .header .header-left .header-menu{
    display: block;
    margin-right: 20px;
  }
  .header .navbar{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: var(--blue-color);
    transform: all 0.7s ease-in-out;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar .nav-links{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 30px;
  }
  .header .navbar .nav-links .nav-link{
    margin: 0 ;
    margin-bottom: 15px;
  }
}
@media (max-width:520px) {
  .header{
    padding: 0 10px;
  }
  .header .header-logo{
    font-size: 19px;
  }
  .header .header-right-link{
    font-size: 17px;
    padding: 5px 7px;
  }
  .header .header-menu{
    margin-right: 10px;
  }
}